{{#section 'footer'}}
<script>
    $(".date").datepicker();
</script>
<script>

    $(document).ready(function () {
        var a = $("#GVLT").html();
        console.log(a)
        var max_fields = 10; //maximum input boxes allowed
        var wrapper = $("#wrapper1"); //Fields wrapper
        var add_button = $(".add_GVLT"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                const newEle = '<div class="controls add_teacher">' + a + '<button type="button" class="remove_field btn-danger">Xóa</button></div>';
                $(wrapper).append(newEle)
            }
        });

        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault(); $(this).parent('.add_teacher').remove(); x--;
        })
        //Giảng viên thực hành
        var b = $("#GVTH").html();
        var wrapper1 = $("#wrapper2"); //Fields wrapper
        var add_button = $(".add_GVTH"); //Add button ID

        var y = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (y < max_fields) { //max input box allowed
                y++; //text box increment
                const newEle = '<div class="controls add_teacher">' + b + '<button type="button" class="remove_field btn-danger">Xóa</button></div>';
                $(wrapper1).append(newEle)
            }
        });

        $(wrapper1).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault(); $(this).parent('.add_teacher').remove(); y--;
        })

    });


</script>

<script>
    //Ajax form
    $(document).ready(function () {

        $("form").submit(function (e) {
            e.preventDefault()
            var url = $(this).attr("action");
            console.log(url)
            var request_method = $(this).attr("method")
            console.log(request_method)
            frmData = $(this).serialize()
            console.log(frmData)
            $.ajax({
                type: request_method,
                url: url,
                data: frmData,
                success: function (data) {

                    Swal.fire(
                        'Thêm học phần thành thành công',
                        '',
                        'success'
                    )
                        .then(function () {
                            location.reload(true)

                        })

                }
            });

        })
    });
</script>


{{/section}}

<div class="span9">
    <div class="content">
        <div class="btn-controls">
            <div class="btn-box-row row-fluid">
                <a href="/subjects/list" class="btn-box span3 ">
                    <i class="icon-list"></i>
                    <b>Danh sách học phần</b>
                </a>
                <a href="" class="btn-box span3 bg-light">
                    <i class="icon-plus"></i>
                    <b>Thêm học phần</b>
                </a>
                <a href="/subjects/edit" class="btn-box span3">
                    <i class="icon-edit"></i>
                    <b>Chỉnh sửa học phần</b>
                </a>

            </div>
        </div>
        <div class="module">
            <div class="module-head">
                <h3>Nhập học phần</h3>
                {{#if step_on}}
                <div class="controls">
                    <a type="buton" class="btn btn-info" href="/subjects/open/step2">Tiếp tục ĐKHP<i
                            class="icon-chevron-right"></i>
                    </a>
                </div>
                {{/if}}
            </div>
            <div class="module-body">
                <form class="form-horizontal row-fluid" action="/subjects/add" method="post">
                    <div class="control-group">
                        <label class="control-label">Mã ĐKHP</label>
                        <div class="controls">
                            <input type="text" placeholder="Nhập mã DKHP" {{#if step_on}} value="{{DKHP.MaDKHP}}"
                                {{/if}}name="MaDKHP" class="span8" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Thuộc môn học</label>

                        <div class="controls">
                            <select tabindex="1" data-placeholder="Chọn tên môn học" class="span5" name="MaMonHoc">
                                {{#each list_MonHoc}}
                                <option value="{{_id}}">{{MonHoc}}</option>
                                {{/each}}
                            </select>
                        </div>


                    </div>
                    <div class="control-group">
                        <label class="control-label" for="MaMonHoc">Mã học phần</label>
                        <div class="controls">
                            <input type="text" id="MaHocPhan" placeholder="Nhập mã học phần" name="MaHP" class="span8"
                                required>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="TenMonHoc">Tên học phần</label>
                        <div class="controls">
                            <input type="text" id="TenMonHoc" placeholder="Nhập tên học phần" class="span8" required
                                name="TenHP">
                        </div>
                    </div>
                    <div class="control-group" id="wrapper1">
                        <label class="control-label" for="basicinput">Giảng viên Lý thuyết</label>
                        <button type="button" class="add_GVLT"><i class="icon-plus"></i></button>

                        <div class="controls" id="GVLT">
                            <select tabindex="1" data-placeholder="Chọn giảng viên" class="span5" name="GVLyThuyet">
                                {{#each list_GV}}
                                <option value="{{_id}}">{{TenGV}}</option>
                                {{/each}}
                            </select>
                        </div>


                    </div>

                    <div class="control-group" id="wrapper2">
                        <label class="control-label" for="basicinput">Giảng viên Thực hành</label>
                        <button type="button" class="add_GVTH"><i class="icon-plus"></i></button>

                        <div class="controls" id="GVTH">
                            <select tabindex="1" data-placeholder="Chọn giảng viên" class="span5" name="GVThucHanh">
                                {{#each list_GV}}
                                <option value="{{_id}}">{{TenGV}}</option>
                                {{/each}}
                            </select>
                        </div>


                    </div>
                    <div class="control-group">
                        <label class="control-label" for="TenTiengAnh">Số nhóm thực hành</label>
                        <div class="controls">
                            <input type="number" value="0" class="span8" required name="SoNhomTH" min="0" max="3">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="TenTiengAnh">Học kì</label>
                        <div class="controls">
                            <input type="number" {{#if step_on}} value="{{DKHP.HocKi}}" {{else}} value="1" {{/if}}
                                class="span8" required name="HocKi" min="1" max="3">
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label">Ngày bắt đầu</label>
                        <div class="controls">
                            <input type="text" placeholder="Nhập ngày bắt đầu" {{#if step_on}}
                                value="{{DKHP.NgayBatDauHK}}" {{/if}} class="span8 date" required name="NgayBatDau">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Ngày bắt đầu</label>
                        <div class="controls">
                            <input type="text" placeholder="Nhập ngày kết thúc" {{#if step_on}}
                                value="{{DKHP.NgayKetThucHK}}" {{/if}} class="span8 date" required name="NgayKetThuc">
                        </div>
                    </div>



                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-info">Thêm học phần</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/.content-->
</div>
<!--/.span9-->