 <div class="control-group wrapperTH" id="wrapperTH{{@index}}">
                                                            <label class="control-label">Giảng viên thực hành</label>
                                                            <button type="button" value="{{@index}}" class="add_GVTH"><i
                                                                    class="icon-plus"></i></button>
                                                            {{#each GVThucHanh as |GVThucHanh|}}
                                                            {{#if @first}}
                                                            <div class="controls GVTH" id="GVTH{{_id}}">
                                                                <select tabindex="1" data-placeholder="Chọn giảng viên"
                                                                    class="span5" name="GVThucHanh">
                                                                    {{#each ../../list_GV as |list_GV|}}
                                                                    <option value="{{_id}}" {{#ifEID list_GV._id
                                                                        GVThucHanh._id}} selected="selected" {{/ifEID}}>
                                                                        {{TenGV}}</option>

                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                            {{else}}
                                                            <div class="controls add_teacher">
                                                                <select tabindex="1" data-placeholder="Chọn giảng viên"
                                                                    class="span5" name="GVThucHanh">
                                                                    {{#each ../../list_GV as |list_GV|}}
                                                                    <option value="{{_id}}" {{#ifEID list_GV._id
                                                                        GVThucHanh._id}} selected="selected" {{/ifEID}}>
                                                                        {{TenGV}}</option>

                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                            {{/if}}

                                                            {{/each}}

                                                        </div>





                                                        {{#each GVLyThuyet as |GVLyThuyet|}}
                                                            {{#if @first}}
                                                            <div class="controls GVLT">
                                                                <select tabindex="1" data-placeholder="Chọn giảng viên"
                                                                    class="span5" name="GVLyThuyet">
                                                                    {{#each ../../list_GV as |list_GV|}}
                                                                    <option value="{{_id}}" {{#ifEID list_GV._id
                                                                        GVLyThuyet._id}} selected="selected" {{/ifEID}}>
                                                                        {{TenGV}}</option>

                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                            {{else}}
                                                            <div class="controls add_teacher">
                                                                <select tabindex="1" data-placeholder="Chọn giảng viên"
                                                                    class="span5" name="GVLyThuyet">
                                                                    {{#each ../../list_GV as |list_GV|}}
                                                                    <option value="{{_id}}" {{#ifEID list_GV._id
                                                                        GVLyThuyet._id}} selected="selected" {{/ifEID}}>
                                                                        {{TenGV}}</option>

                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                            {{/if}}

                                                            {{/each}}