{{#section 'footer'}}
<script>


    $(document).ready(function () {
        $('#myTable').DataTable({

        });
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

    });
    $('button').click(function () {
        btn_id = $(this).val()
        console.log(btn_id)
        form = $('#frm')
        var url = '/marks/update/subject/' + $(this).data('whatever')
        if (btn_id == '0') url = url + "?finish=0"
        else url = url + '?finish=1'
        var request_method = "post"
        var frmData = $("input[name='DiemTK']")
            .map(function () { return $(this).val(); }).get();
        frmData = { data: frmData }
        console.log(frmData)
        $.ajax({
            type: request_method,
            url: url,
            data: frmData,
            success: function (data) {
                if (data.err) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Không thể cập nhật điểm',
                    })
                }
                else if (data.mess) {
                    Swal.fire(
                        'Thành công!',
                        data.mess,
                        'success'
                    ).then(function () {
                        $('table').load(location.href + ' table')

                    })
                }


            }
        });
    })



</script>


{{/section}}

{{#with HocPhan as |HocPhan|}}

<div class="span9">
    <div class="content">

        <div class="module">


            <div class="module-head">
                <a href="/marks/list_bySubject">Quản lý điểm theo học phần</a> > <a href="/subjects/edit">{{MaHP}}</a>>Chỉnh sửa điểm
            </div>


            <div class="module-body table scrollme">

                <table cellpadding="0" cellspacing="0" border="0"
                    class="datatable-1 table table-bordered table-striped display" id="myTable" class="display">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>MSSV</th>
                            <th>Họ và tên</th>
                            <th>Điểm tổng kết</th>

                        </tr>



                    </thead>
                    <tbody>
                        {{#each HocPhan.DSSinhVien as |list|}}
                        <tr class="odd gradeX" id="row{{@index}}">

                            <td>{{@index}}</td>
                            <td>{{SinhVien.MSSV}}</td>
                            <td>{{SinhVien.HoLot}} {{SinhVien.Ten}}</td>
                            <td><input type="text" name="DiemTK" id="{{SinhVien._id}}" value="{{DiemTK}}"></td>

                        </tr>

                        {{/each}}

                    </tbody>
                </table>

            </div>

            <div class="module-foot">

                <button value="0" class="btn btn-primary" id="update_marks" data-whatever="{{MaHP}}">Cập nhật điểm <i
                        class="icon-save"></i></button>
                <button value="1" class="btn btn-danger" id="finish_marks" data-whatever="{{MaHP}}">Nhập xong <i
                        class="icon-check"></i></button>

            </div>

        </div>
    </div>
    <!--/.content-->
</div>
<!--/.span9-->

{{/with}}