{{#section 'footer'}}

<script>
    /* $(".btn-edit").click(function () {
         var id = $(this).attr('id');
         const number = id.split('btn-edit')[1];
         $("#row" + number).attr('hidden', true);
         $("#row-edit" + number).attr('hidden', false);
         //console.log(row_edit);
     })
     $(".btn-exit").click(function () {
         var id = $(this).attr('id');
         const number = id.split('btn-exit')[1];
         $("#row" + number).attr('hidden', false);
         $("#row-edit" + number).attr('hidden', true);
         //console.log(row_edit);
     })*/

    $(document).ready(function () {

        $("#NgaySinh").datepicker();

        $("form").submit(function (e) {
            e.preventDefault()
            var url = $(this).attr("action");
            console.log(url)
            var request_method = $(this).attr("method");
            console.log(request_method)
            frmData = $(this).serialize()
            console.log(frmData)
            $.ajax({
                type: request_method,
                url: url,
                data: frmData,
                success: function (data) {

                    Swal.fire(
  'Cập nhật sinh viên',
  data.mess,
  'success'
)
                    .then(function () {
                        location.reload(true)

                    })
                    $('#modal1310415').modal('toggle');


                }
            });

        })
        /* $(".save").click(function () {
             Id = $(this).data('whatever');
             var formId = `#frmEdit${Id}`;
             console.log(formId)
             var url = $(formId).attr("action"); //get form action url
             var request_method = $(formId).attr("method"); //get form GET/POST method
             console.log(request_method)
             $.ajax({
                 type: request_method,
                 url: url,
                 data: {HoTen:"Nguyen"}, 
                 success: function (data) {
                     alert(data)
                 }
             });
 
             $(formId).submit();
 
 
         })*/
    });
</script>

{{/section}}
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="sidebar">
                    <ul class="widget widget-menu unstyled">
                        <li class="active"><a href="index.html"><i class="menu-icon icon-dashboard"></i>Quản lý sinh viên
                            </a></li>
                        <li><a href="activity.html"><i class="menu-icon icon-bullhorn"></i>Quản lý môn học </a>
                        </li>
                        <li><a href="message.html"><i class="menu-icon icon-inbox"></i>Inbox <b
                                    class="label green pull-right">
                                    11</b> </a></li>
                        <li><a href="task.html"><i class="menu-icon icon-tasks"></i>Tasks <b
                                    class="label orange pull-right">
                                    19</b> </a></li>
                    </ul>
                    <!--/.widget-nav-->
                    <ul class="widget widget-menu unstyled">
                        <li><a href="ui-button-icon.html"><i class="menu-icon icon-bold"></i> Buttons </a></li>
                        <li><a href="ui-typography.html"><i class="menu-icon icon-book"></i>Typography </a></li>
                        <li><a href="form.html"><i class="menu-icon icon-paste"></i>Forms </a></li>
                        <li><a href="table.html"><i class="menu-icon icon-table"></i>Tables </a></li>
                        <li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Charts </a></li>
                    </ul>
                    <!--/.widget-nav-->
                    <ul class="widget widget-menu unstyled">
                        <li><a class="collapsed" data-toggle="collapse" href="#togglePages"><i
                                    class="menu-icon icon-cog">
                                </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                                </i>More Pages </a>
                            <ul id="togglePages" class="collapse unstyled">
                                <li><a href="other-login.html"><i class="icon-inbox"></i>Login </a></li>
                                <li><a href="other-user-profile.html"><i class="icon-inbox"></i>Profile </a></li>
                                <li><a href="other-user-listing.html"><i class="icon-inbox"></i>All Users </a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="menu-icon icon-signout"></i>Logout </a></li>
                    </ul>
                </div>
                <!--/.sidebar-->
            </div>
            <!--/.span3-->
            <div class="span9">
                <div class="content">
                    <div class="btn-controls">
                        <div class="btn-box-row row-fluid">
                            <a href="/students/add" class="btn-box span3 bg-light">
                                <i class="icon-list"></i>
                                <b>Danh sách môn học</b>
                            </a>
                            <a href="/students/add-new" class="btn-box span3">
                                <i class="icon-plus"></i>
                                <b>Thêm môn học</b>
                            </a>
                            <a href="" class="btn-box span3">
                                <i class="icon-search"></i>
                                <b>Tìm kiếm môn học</b>
                            </a>
                            <a href="/students/edit-info" class="btn-box span3">
                                <i class="icon-edit"></i>
                                <b>Chỉnh sửa môn học</b>
                            </a>
                        </div>
                    </div>
                    <div class="module">
                        <div class="module-head">
                            <h3>
                                Tìm kiếm sinh viên</h3>
                        </div>
                        <div class="module-option clearfix">
                            <form action="" method="get" id="frmSearch">
                                <div class="input-append pull-left">
                                    <input type="text" class="span3" placeholder="Tìm kiếm theo MSSV/tên"
                                        name="text_search">
                                    <button type="submit" class="btn" id="search">
                                        <i class="icon-search"></i>
                                    </button>
                                </div>
                            </form>

                        </div>
                        <div class="module-body table scrollme">
                            {{#if empty}}
                            <h4><b>Không tìm thấy sinh viên nào</b></h4>
                            {{/if}}
                            <table cellpadding="0" cellspacing="0" border="0"
                                class="datatable-1 table table-bordered table-striped display">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Mã môn học</th>
                                        <th >Tên môn học</th>
                                        <th rowspan="2">Số tín chỉ</th>
                                        <th colspan="3">Số giờ tín chỉ</th>
                                        <th rowspan="2">Môn tiên quyết</th>
                                        <th rowspan="2">Tên tiếng Anh</th>
                                    </tr>
                                   
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Lý thuyết</td>
                                        <td>Thực hành</td>
                                        <td>Tự học</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                   
                                    {{#each list}}
                                    <tr class="odd gradeX" id="row{{@index}}">
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#modal{{MSSV}}"><i class="fa fa-pencil-square-o"
                                                    aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td>{{MSSV}}
                                        </td>
                                        <td>{{HoLot}}</td>
                                        <td>{{Ten}}</td>
                                        <td> {{GioiTinh}}</td>
                                        <td>{{NgaySinh}}</td>
                                        <td>{{NoiSinh}}</td>
                                        <td>{{Lop}}</td>
                                        <td>{{Nganh}}</td>
                                        <td style="max-width 10px;">{{Email}}</td>
                                    </tr>
                                    <div class="modal fade" id="modal{{MSSV}}" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">{{HoLot}}
                                                        {{Ten}}-{{MSSV}}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/students/edit-info" method="post"
                                                        id="frmEdit{{MSSV}}">
                                                        <div class="control-group">
                                                            <label class="control-label" for="MSSV{{MSSV}}">Mã số sinh
                                                                viên(*)</label>
                                                            <div class="controls">
                                                                <input type="text" id="MSSV{{MSSV}}" value="{{MSSV}}"
                                                                    name="MSSV" required>
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label class="control-label" for="HoLot">Họ lót(*)</label>
                                                            <div class="controls">
                                                                <input type="text" id="HoLot" value="{{HoLot}}"
                                                                    name="HoLot" required>
                                                            </div>
                                                        </div>

                                                        <div class="control-group">
                                                            <label class="control-label" for="Ten">Tên(*)</label>
                                                            <div class="controls">
                                                                <input type="text" id="Ten" value="{{Ten}}" name="Ten"
                                                                    required>
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label class="control-label">Giới tính</label>
                                                            <div class="controls">

                                                                <label class="radio inline">
                                                                    <input type="radio" name="GioiTinh" id="Nam"
                                                                        value="1" checked>
                                                                    Nam
                                                                </label>
                                                                <label class="radio inline">
                                                                    <input type="radio" name="GioiTinh" id="Nu"
                                                                        value="0">
                                                                    Nữ
                                                                </label>

                                                            </div>
                                                            <div class="control-group">
                                                                <label class="control-label" for="NgaySinh">Ngày
                                                                    sinh</label>
                                                                <div class="controls">
                                                                    <input type="text" name="NgaySinh" id="NgaySinh"
                                                                        value="{{NgaySinh}}" required>
                                                                    <span class="help-inline">(*)</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary save"
                                                        data-whatever="{{MSSV}}" form="frmEdit{{MSSV}}">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {{/each}}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->







                        <div class="module-body table scrollme">
                            {{#if empty}}
                            <h4><b>Không tìm thấy sinh viên nào</b></h4>
                            {{/if}}
                            <div id="DataTables_Table_0_length" class="dataTables_length"><label>Show <select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                            <div class="dataTables_filter" id="DataTables_Table_0_filter"><label>Search: <input type="text" aria-controls="DataTables_Table_0"></label></div>
                            <table cellpadding="0" cellspacing="0" border="0"
                                class="datatable-1 table table-bordered table-striped display">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Mã môn học</th>
                                        <th >Tên môn học</th>
                                        <th rowspan="2">Số tín chỉ</th>
                                        <th colspan="3">Số giờ tín chỉ</th>
                                        <th rowspan="2">Môn tiên quyết</th>
                                        <th rowspan="2">Tên tiếng Anh</th>
                                    </tr>
                                   
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Lý thuyết</td>
                                        <td>Thực hành</td>
                                        <td>Tự học</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                   
                                    {{#each list}}
                                    <tr class="odd gradeX" id="row{{@index}}">
                                       
                                        <td>{{MaMonHoc}}</td>
                                        <td>{{MonHoc}}</td>
                                        <td>{{SoTC}}</td>
                                        <td>{{SoGioTC.LyThuyet}}</td>
                                        <td>{{SoGioTC.ThucHanh}}</td>
                                        <td>{{SoGioTC.TuHoc}}</td>
                                        <td>{{MonTienQuyet}}</td>
                                        <td>{{TenTiengAnh}}</td>
                                    </tr>

                                    {{/each}}


                                </tbody>
                            </table>
                        </div>