<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="sidebar">

                    <ul class="widget widget-menu unstyled">
                        <li class="active">
                            <a href="index.html">
                                <i class="menu-icon icon-dashboard"></i>
                                Quản lý sinh viên
                            </a>
                        </li>
                        <li>
                            <a href="activity.html">
                                <i class="menu-icon icon-bullhorn"></i>
                                News Feed
                            </a>
                        </li>
                        <li>
                            <a href="message.html">
                                <i class="menu-icon icon-inbox"></i>
                                Inbox
                                <b class="label green pull-right">11</b>
                            </a>
                        </li>

                        <li>
                            <a href="task.html">
                                <i class="menu-icon icon-tasks"></i>
                                Tasks
                                <b class="label orange pull-right">19</b>
                            </a>
                        </li>
                    </ul>
                    <!--/.widget-nav-->

                    <ul class="widget widget-menu unstyled">
                        <li><a href="ui-button-icon.html"><i class="menu-icon icon-bold"></i> Buttons </a></li>
                        <li><a href="ui-typography.html"><i class="menu-icon icon-book"></i>Typography </a></li>
                        <li><a href="form.html"><i class="menu-icon icon-paste"></i>Forms </a></li>
                        <li><a href="table.html"><i class="menu-icon icon-table"></i>Tables </a></li>
                        <li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Charts </a></li>
                    </ul>
                    <!--/.widget-nav-->

                    <ul class="widget widget-menu unstyled">
                        <li>
                            <a class="collapsed" data-toggle="collapse" href="#togglePages">
                                <i class="menu-icon icon-cog"></i>
                                <i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>
                                More Pages
                            </a>
                            <ul id="togglePages" class="collapse unstyled">
                                <li>
                                    <a href="other-login.html">
                                        <i class="icon-inbox"></i>
                                        Đăng xuất
                                    </a>
                                </li>
                                <li>
                                    <a href="other-user-profile.html">
                                        <i class="icon-inbox"></i>
                                        Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="other-user-listing.html">
                                        <i class="icon-inbox"></i>
                                        All Users
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">
                                <i class="menu-icon icon-signout"></i>
                                Logout
                            </a>
                        </li>
                    </ul>

                </div>
                <!--/.sidebar-->
            </div>
            <!--/.span3-->


            <div class="span9">
                <div class="content">

                     <div class="btn-controls">
                        <div class="btn-box-row row-fluid">
                            <a href="/students/add" class="btn-box span3 bg-light">
                                <i class="icon-arrow-up"></i>
                                <b>Upload danh sách</b>
                            </a>
                            <a href="/students/add-new" class="btn-box span3">
                                <i class="icon-user"></i>
                                <b>Thêm sinh viên</b>
                            </a>
                            <a href="/students/find" class="btn-box span3">
                                <i class="icon-search"></i>
                                <b>Tìm kiếm sinh viên</b>
                            </a>
                            <a href="/students/edit-info"  class="btn-box span3">
                                <i class="icon-edit"></i>
                                <b>Chỉnh sửa sinh viên</b>
                            </a>
                        </div>
                    </div>
                    <!--/.btn-controls-->


                    <div class="module">
                        <div class="module-head">
                            <h3>Upload danh sách sinh viên</h3>
                        </div>
                        <div class="module-body">
                            <form action="" method="post" enctype="multipart/form-data">
                                Chọn file danh sách sinh viên (*)
                                <input type="file" name="file_SV"> <br>
                                <input type="submit" value="upload" class="btn btn-info">
                            </form>
                            <h5>{{msg}}</h5>

                        </div>
                        <div class="module-head">
                            <h3>Danh sách sinh viên</h3>
                        </div>

                        <div class="module-body table">
                            <table cellpadding="0" cellspacing="0" border="0"
                                class="datatable-1 table table-bordered table-striped	 display" width="100%">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>MSSV</th>
                                        <th>HoLot</th>
                                        <th>Ten</th>
                                        <th>GioiTinh</th>
                                        <th>NgaySinh</th>
                                        <th>NoiSinh</th>
                                        <th>Lop</th>
                                        <th>Nganh</th>
                                        <th>SoTC</th>
                                        <th>DiemTB</th>
                                        <th>XepLoai</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     {{#each list}}
                                    <tr class="odd gradeX">
                                        <td>{{@index}}</td>
                                        <td>{{MSSV}}</td>
                                        <td>{{HoLot}}</td>
                                        <td>{{Ten}}</td>
                                        <td class="center"> {{GioiTinh}}</td>
                                        <td class="center">{{NgaySinh}}</td>
                                        <td>{{NoiSinh}}</td>
                                        <td>{{Lop}}</td>
                                        <td>{{Nganh}}</td>
                                        <td class="center"> {{SoTC}}</td>
                                        <td class="center">{{DiemTBTichLuy}}</td>
                                        <td class="center">{{XepLoai}}</td>
                                    </tr>
                                     {{/each}}

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>STT</th>
                                        <th>MSSV</th>
                                        <th>HoLot</th>
                                        <th>Ten</th>
                                        <th>GioiTinh</th>
                                        <th>NgaySinh</th>
                                        <th>NoiSinh</th>
                                        <th>Lop</th>
                                        <th>Nganh</th>
                                        <th>SoTC</th>
                                        <th>DiemTBTichLuy</th>
                                        <th>XepLoai</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>




                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->

