{{#section 'footer'}}
<script>


    $(document).ready(function () {

        //Lúc nhập xong MSSV => Tự tra cứu và fill in trường tên sinh viên (ajax)
        //setup before functions
        var typingTimer;                //timer identifier
        var doneTypingInterval = 5000;  //Thời gian chờ 5s

        //on keyup, start the countdown
        $('input').on("keyup", function () {
            if (typingTimer) clearTimeout(typingTimer);
            val = $(this).val()
            // Clear if already set     
            typingTimer = setTimeout(doneTyping(val), doneTypingInterval);
        });

        //Sau khi nhập xong MASV
        function doneTyping(val) {
            $.getJSON(`/students/search/${val}`, function (data) {
                if (data.name == undefined) $('.TenSV').val(data.mess)
                else {
                    $('.TenSV').val(data.name)
                    $('.TenSV').css('color', '')
                }
            });

        }

    });
    //
    x = 1;
    $('#add_student').submit(function (e) {
        e.preventDefault()
        test = $('.TenSV').val()
        if (test == 'MSSV không hợp lệ!') {
            $('.TenSV').css('color', 'red')
            return
        }
        else {
            var url = $(this).attr("action");
            var request_method = $(this).attr("method")
            frmData = $(this).serialize()
            $.ajax({
                type: request_method,
                url: url,
                data: frmData,
                success: function (data) {

                    if (data.err) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Lỗi',
                            text: 'Không thể thêm sinh viên',
                        })
                    }
                    else {
                        $('table').load(location.href + ' table')
                    }


                }
            });



        }
    });
    $(document).on('click', '.delete_student', function () {
        MS = $(this).val()
        MaHP = $(this).data('whatever')
        $.ajax({
            type: 'delete',
            url: `/subjects/delete_students/${MaHP}`,
            data: { MSSV: MS },
            success: function (data) {
                if (data.err) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Không thể xóa sinh viên',
                    })
                }
                else {
                    $('table').load(location.href + ' table')
                }


            }
        });
    })


</script>


{{/section}}

<!--/.span3-->
{{#with list as |list|}}

<div class="span9">
    <div class="content">
        <div class="module-head">
            <h3><a href="/subjects/edit">Chỉnh sửa danh sách học
                    phần</a>>Chỉnh sửa
                danh sách sinh viên</h3>
        </div>
        <div class="module">
            <div class="module-body table scrollme">
                <table cellpadding="0" cellspacing="0" border="0"
                    class="datatable-1 table table-bordered table-striped display" id="myTable" class="display">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>MSSV</th>
                            <th>Họ và tên</th>
                            <th>Nhóm TH (nếu có)</th>
                            <th>Xóa</th>

                        </tr>
                    </thead>
                    <tbody>

                        {{#each list.DSSinhVien }}
                        <tr class="odd gradeX" id="row{{@index}}">

                            <td class="index">{{Add @index 1}}</td>
                            <td>{{SinhVien.MSSV}}</td>
                            <td class="text-center">{{SinhVien.HoLot}} {{SinhVien.Ten}}</td>
                            <td>{{Nhom}}</td>
                            <td><button class="btn btn-default delete_student" value="{{SinhVien.MSSV}}"
                                    data-whatever="{{list.MaHP}}"> <i class="pe-7s-delete-user pe-lg"></i></button></td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
                <div class="module-foot">
                    <form action="/subjects/add_students/{{MaHP}}" method="post" id="add_student">
                        <div class="control-group">
                            <div class="controls">
                                <input type="text" placeholder="Nhập MSSV" name="MSSV" class="span3" required>
                                {{#with ../ThucHanh}}
                                <input type="number" placeholder="Chọn nhóm thực hành" name="Nhom" min="1"
                                    max="{{SoNhomTH}}" class="span3" required>
                                {{/with}}
                                <input type="text" class="TenSV" class="span4" disabled>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary" id="add_students">Thêm sinh viên</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/.content-->
</div>
<!--/.span9-->
{{/with}}