{{#with detail}}

<div class="span9">
    <div class="content">
        <div class="module">
            <div class="module-head">
                <h3>Thông tin Nguyễn Bình Nguyên</h3>
            </div>
            <div class="module-body form-horizontal row-fluid">

                <div class="control-group">
                    <label class="control-label">Họ và tên </label>
                    <div class="controls">
                        <input type="text" value="{{HoLot}} {{Ten}}" class="span8" readonly>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">MSSV </label>
                    <div class="controls">
                        <input type="text" value="{{MSSV}}" class="span8" readonly>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Ngành</label>
                    <div class="controls">
                        <input type="text" value="{{Nganh.TenNganh}}" class="span8" readonly>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Ngày sinh</label>
                    <div class="controls">
                        <input type="text" value="{{DateFormat NgaySinh}}" class="span8" readonly>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Nơi sinh </label>
                    <div class="controls">
                        <input type="text" value="{{NoiSinh}}" class="span8" readonly>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Giới tính </label>
                    <div class="controls">
                        <input type="text" value="{{#ifCond GioiTinh true}}Nam{{else}}nữ{{/ifCond}}" class="span8"
                            readonly>


                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        <input type="text" value="{{Email}}" class="span8" readonly>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{{/with}}