<div class="span9">
    <div class="content">
        <div class="module message">
            <div class="module-head">
                <h3>
                    Lịch sử đăng ký học phần</h3>
            </div>
            <div class="module-option clearfix">
                <div class="pull-left">
                    <div class="btn-group">
                        <button class="btn">
                            Duyệt theo</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/submit/subject/history">Tất cả</a></li>
                            {{#each filters}}
                            <li><a href="/submit/subject/history/?filter={{filter}}">{{filter}}</a></li>
                            {{/each}}
                        
                        </ul>
                    </div>
                </div>
            </div>
            <div class="module-body table">
                <table class="table table-message">
                    <tbody>
                        <tr class="heading">
                            <td class="cell-author hidden-phone hidden-tablet">
                                Mã HP
                            </td>
                            <td class="cell-title">
                                Tên HP
                            </td>
                            <td>NH/HK</td>
                            <td>
                                Trạng thái
                            </td>

                            <td>
                                Thời gian
                            </td>
                        </tr>
                        {{#each list }}
                        <tr class="{{#ifCond TinhTrang true}}
                                unread
                            {{else}}
                                read
                            {{/ifCond}}">

                            <td>{{HocPhan.MaHP}}</td>
                            <td>{{HocPhan.TenHP}}</td>
                            <td>{{NamHoc HocPhan.NgayBatDau HocPhan.NgayKetThuc HocPhan.HocKi}}/{{HocPhan.HocKi}}</td>
                            <td>
                                {{#ifCond TinhTrang true}}
                                Đã đăng ký
                                {{else}}
                                Đã hủy
                                {{/ifCond}}
                            </td>

                            <td>{{TimeFormat createdAt}}</td>
                        </tr>
                        {{/each}}


                    </tbody>
                </table>
            </div>
            <div class="module-foot">
            </div>
        </div>
    </div>
    <!--/.content-->
</div>