<div class="span12">
    <div class="content">
        <div class="module message">
            <div class="module-head">
                <h3>
                    Kết quả đăng ký học phần</h3>
            </div>
            <div class="module-option clearfix">
                <div class="pull-left">
                    <div class="btn-group">
                        <button class="btn">
                            Tất cả</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/submit/subject/result">Tất cả</a></li>
                            {{#each filters}}

                            <li><a href="/submit/subject/result/?filter={{filter}}">{{filter}}</a></li>
                            {{/each}}

                        </ul>
                    </div>
                </div>
            </div>
            <div class="module-body table">
                <table class="table table-message" id="myTable">
                    <tbody>
                        <tr class="heading">
                            <td>STT</td>
                            <td class="cell-author hidden-phone hidden-tablet">
                                NH/HK
                            </td>
                            <td>Mã học phần</td>
                            <td>
                                Tên HP
                            </td>
                            <td>
                                Số tín chỉ
                            </td>

                            <td>
                                Số SV
                            </td>
                            <td>Lịch học</td>
                        </tr>
                        {{#each list}}

                        <tr class="unread">
                            <td>{{Add @index 1}}</td>
                            <td>
                                {{NamHoc HocPhan.NgayBatDau HocPhan.NgayKetThuc HocPhan.HocKi}}/{{HocPhan.HocKi}}
                            </td>
                            <td>{{HocPhan.MonHoc.MaMonHoc}}</td>
                            <td>
                                {{HocPhan.MonHoc.MonHoc}}
                            </td>
                            <td>
                                {{HocPhan.MonHoc.SoTC}}

                            </td>
                            <td>
                                {{countArray HocPhan.DSSinhVien}}/{{HocPhan.SoSVToiDa}}
                            </td>
                            <td>{{HocPhan.LichHoc}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="module-foot">
            </div>
        </div>
    </div>
    <!--/.content-->
</div>