{{#section 'footer'}}

<script>

    $(document).ready(function () {
        $('#myTable').DataTable({

        });
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $('.deleteFrm').submit(function (e) {
            {
                e.preventDefault();
                var url = $(this).attr("action");
                var request_method = $(this).attr("method");
                frmData = $(this).serialize();
                console.log(url,request_method,frmData);

                Swal.fire({
                    title: 'Bạn có chắc chắn hủy học phần này?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Hủy!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: request_method,
                            url: url,
                            data: frmData,
                            success: function (data) {
                                Swal.fire(
                                    data.success,
                                    '',
                                    'success'
                                )
                                    .then(function () {
                                        location.reload(true)
                                    })
                            }
                        });
                    }
                })
            }
        })

        /*$(".delete-button").click(function () {
            const MaHP = $(this).id;
            console.log(MaHP)
            Swal.fire({
                title: 'Bạn có chắc chắn hủy học phần này?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Hủy!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "post",
                        url: `/submit/subject/delete/${MaHP}`,
                        data: null,
                        success: function (data) {
                            Swal.fire(
                                data.success,
                                '',
                                'success'
                            )
                                .then(function () {
                                    location.reload(true)
                                })
                        }
                    });
                }
            })
        });*/
    });
</script>
<script>
    $('input[type="checkbox"]').click(function () {
        const id = $(this).attr('id');
        const count = $(`input[name=${id}]`).length;
        if ($(this).is(":checked")) {
            if (count !== 1) {
                $(`#${id}0`).prop("checked", true);
            }
        }
        else if ($(this).is(":not(:checked)")) {
            if (count !== 1) {
                for (let i = 0; i < count - 1; i++) {
                    $(`#${id}${i}`).prop("checked", false);
                }
            }
        }
    });
</script>

{{/section}}

{{#with detail}}
<div class="span9">
    <div class="content">
        <div id="app"></div>

        <div class="module message">
            <div class="module-head">
                <h3>
                    Danh sách học phần đã đăng ký</h3>
            </div>

            <div class="module-body table">
                <table class="table table-message">
                    <tbody>
                        <tr class="heading">
                            <td>STT</td>
                            <td>Mã HP</td>
                            <td>Tên HP</td>
                            <td>Số TC</td>
                            <td>Giảng viên</td>
                            <td>Lịch học</td>
                            <td>Số SV</td>
                            <td>Hủy</td>
                        </tr>
                        {{#each ../subjects as |list|}}
                        <tr class="read">

                            <td>{{Add @index 1}}</td>
                            <td>{{MaHP}}</td>
                            <td>{{TenHP}}</td>
                            <td>{{MonHoc.SoTC}}</td>
                            <td>{{#each GVLyThuyet}}
                                {{TenGV}} <br>
                                {{/each}}
                                {{#each GVThucHanh}}
                                {{TenGV}}
                                <br>
                                {{/each}}
                            </td>
                            <td>Lý thuyết: {{LichHoc}} <br>
                                {{#each DSSinhVien}}
                                {{#ifEID SinhVien._id ../../../studentAcc.SinhVien}}
                                Thực hành: Nhóm {{Nhom}}

                                {{/ifEID}}
                                {{/each}}</td>
                            <td>{{countArray DSSinhVien}}/{{SoSVToiDa}}</td>
                            <form class="deleteFrm" action="/submit/subject/delete/{{MaHP}}" method="POST">
                                <td><button type="submit" class="btn btn-default"><i
                                            class="icon-trash delete-button"></i></button>
                                </td>
                            </form>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="module-head">
                <h3>
                    Danh sách học phần không được phép ĐK</h3>
            </div>

            <div class="module-body table">
                <table class="table table-message">
                    <tbody>
                        <tr class="heading">
                            <td>STT</td>
                            <td>Mã HP</td>
                            <td>Tên HP</td>
                            <td>Số TC</td>
                            <td>Giảng viên</td>
                            <td>Lịch học</td>
                            <td>Lý do</td>
                        </tr>
                        {{#each ../forbiddens}}
                        <tr class="read">

                            <td>{{Add @index 1}}</td>
                            <td>{{MaHP}}</td>
                            <td>{{TenHP}}</td>
                            <td>{{MonHoc.SoTC}}</td>
                            <td>{{#each GVLyThuyet}}
                                {{TenGV}} <br>
                                {{/each}}
                                {{#each GVThucHanh}}
                                {{TenGV}}
                                <br>
                                {{/each}}
                            </td>
                            <td>Lý thuyết: {{LichHoc}} <br>
                                {{#each DSSinhVien}}
                                {{#ifEID SinhVien._id ../../../studentAcc.SinhVien}}
                                Thực hành: Nhóm {{Nhom}}

                                {{/ifEID}}
                                {{/each}}</td>
                            <td>Đã đậu</td>
                        </tr>
                        {{/each}}
                        {{#each ../previouss}}
                        <tr class="read">

                            <td>{{Add @index 1}}</td>
                            <td>{{MaHP}}</td>
                            <td>{{TenHP}}</td>
                            <td>{{MonHoc.SoTC}}</td>
                            <td>{{#each GVLyThuyet}}
                                {{TenGV}} <br>
                                {{/each}}
                                {{#each GVThucHanh}}
                                {{TenGV}}
                                <br>
                                {{/each}}
                            </td>
                            <td>Lý thuyết: {{LichHoc}} <br>
                                {{#each DSSinhVien}}
                                {{#ifEID SinhVien._id ../../../studentAcc.SinhVien}}
                                Thực hành: Nhóm {{Nhom}}

                                {{/ifEID}}
                                {{/each}}</td>
                            <td>Vi phạm HP tiên quyết</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="span12">
    <div class="content">
        <div class="module message">
            <div class="module-head">
                <h3>
                    Danh sách học phần mở</h3>
            </div>
            <form action="" method="post">

                <div class="module-body table">
                    <table class="table table-message">
                        <tbody>
                            <tr class="heading">
                                <td>STT</td>
                                <td>Mã HP</td>
                                <td>Tên HP</td>
                                <td>NH/HK</td>
                                <td>Số TC</td>
                                <td>Giảng viên</td>
                                <td>Lịch học</td>
                                <td>Nhóm thực hành</td>
                                <td>Số SV</td>
                                <td>Đăng ký</td>
                            </tr>
                            {{#each ../list as |list|}}
                            <tr class="unread">

                                <td>{{Add @index 1}}</td>
                                <td>{{MaHP}}</td>
                                <td>{{TenHP}}</td>
                                <td>{{NamHoc NgayBatDau NgayKetThuc HocKi}}/{{HocKi}}</td>
                                <td>{{MonHoc.SoTC}}</td>
                                <td>{{#each GVLyThuyet}}
                                    {{TenGV}} <br>
                                    {{/each}}
                                    {{#each GVThucHanh}}
                                    {{TenGV}}
                                    <br>
                                    {{/each}}
                                </td>
                                <td>{{LichHoc}}</td>
                                <td>{{#each LichHocTH}}
                                    <input type="radio" id="{{list.MaHP}}{{@index}}" name="{{list.MaHP}}"
                                        value="{{Add @index 1}}">
                                    <label for="LichHocTH{{list.MaHP}}">Nhóm {{Add @index 1}} {{ThoiGian}}</label>
                                    <br>
                                    {{/each}}
                                </td>
                                <td>{{countArray DSSinhVien}}/{{SoSVToiDa}}</td>
                                <td><input type="checkbox" id="{{list.MaHP}}" name="{{list.MaHP}}"
                                        value="{{list.MaHP}}">
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="module-footer text" style="text-align: center;">
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-large btn-info center">Đăng ký</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--/.content-->
</div>
{{/with}}